.table-contacts {
    margin-bottom: 15px;

    tbody {
        tr {
            td {
                color: rgba(0, 0, 0, 0.65) !important;
                &.copy-content {
                    color: #1890ff !important;
                    cursor: pointer;
                }
                &:first-child {
                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}
